[Unit]
Description=Home Sensor Node
After=network.target

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/node/bin"
WorkingDirectory=/home/pi/HomeSensorNode
ExecStart=/opt/node/bin/npm start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target

